@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {bottom:200px; top:0px;}
    25%  {left:200px; top:0px;}
  }

  /* Standard syntax */
  @keyframes example {
    0%   { top:600px;}
    25%  { top:0px;}
  }

  .styles {
    font-family: sans-serif;
  }

  .work {
    text-align: center;
    border-radius: 30em;
    background-color: black;
    margin: 2em 2em 2em 2em;
  }

  .work h1 {
    font-size: 5em;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font: bolder;
    text-decoration: underline;
    color: white;
  }

  .Instagram{
    color: white;
    background-color:black;
    border-radius: 2em;
    margin-bottom: 2em;  
  }

  .Instagram:hover {
    color: black;
    background-color: white;
    border-radius: 2em;
  } 
}

@media only screen and (max-width: 767px) {

  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

  .styles {
    width: fit-content;
  }

  .work {
    text-align: center;
    border-radius: 5em;
    background-color: black;
    margin: 2em 0 2em 0;
  }

  .work h1 {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font: bolder;
    text-decoration: underline;
    color: white;
  }

  .Instagram{
    color: white;
    background-color:black;
    border-radius: 2em;
  }

  .Instagram:hover {
    color: black;
    background-color: white;
    border-radius: 2em;
  }
}