.parallax {
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textbox {
    background: transparent;
    font-size: 150px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;;
    padding: 20;
    position: absolute;
    top: 35%;
    left: 78%;
    color:white;
    transform: translate(-50%,-50%);
}

#name {
    color: white;
}
