@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {bottom:200px; top:0px;}
    25%  {left:200px; top:0px;}
  }

  /* Standard syntax */
  @keyframes example {
    0%   { top:600px;}
    25%  { top:0px;}
  }

.quote {
    background: black;
    color: white;
    padding: 1em 1em 1em 2em;
  }

  .quote h2 {
    font-size: 6em;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@media only screen and (max-width: 767px) {

  .quote {
    background: black;
    color: white;
    border-top: 3px;
    border-color: white;
    border-style: solid hidden solid hidden;
  }
  
  .quote h2 {
    font-size: 3em;
    font-family: "Dancing script", cursive;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}